<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laomu.justgraduate" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.JGApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".modules.homepage.HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".modules.splash.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".base.BaseActivity"
            android:label="@string/title_activity_jgbase" >
        </activity>
        <activity
            android:name=".modules.settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".modules.login.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
    </application>


</manifest>
